@page "/submit-query"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using System.Data.SqlClient
@using System.ComponentModel.DataAnnotations

<PageTitle>Submit Query</PageTitle>

<h3>Submit Query</h3>

